
<!--Begin main table-->
<table width="100%" cellpadding="2" cellspacing="0">
  <tr>
	<td width="100%" height="100%" valign="top">

<!--Begin header table-->
<table width="100%" border="0" cellpadding="2" cellspacing="0">
  <tr>
	<td class="row1" valign="middle" align="center"><span class="gen"><a href="{U_PASEARCH}">{L_SEARCH}</a>&nbsp;&nbsp;<a href="{U_PASTATS}">{L_STATS}</a>&nbsp;&nbsp;<a href="{U_TOPLIST}">{L_TOPLIST}</a></span></td>
  </tr>
</table>
<!--End header table-->

<!--Begin page table-->
<table width="100%" border="0" cellpadding="2" cellspacing="0" class="table" align="center">
  <tr>
	<td width="100%" valign="top" colspan="2">{ACTION_INCLUDE}</td>
  </tr>
  <tr>
	<td align="left" valign="top">{JUMPMENU}</td>
	<td align="right" valign="top"><span class="gensmall">{S_TIMEZONE}</span><br />{JUMPBOX}</td>
  </tr>
</table>
<!--End page table-->

<!--End main table-->
	</td>
  </tr>
</table>