{LOCBAR}
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
  <tr> 
	<th class="thHead">{L_LE_NAME}</th>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed"><b>{L_LEWARN} <i>{FILE_NAME}</b></i></b></span></td>
  </tr>
  <tr> 
	<td class="row1">{LE_TEXT}</td>
  </tr>
  <tr> 
	<td class="catBottom" align="center"><span class="genmed"><b><a href="dload.php?action=download&amp;id={ID}" class="genmed">{L_AGREE}</a> | <a href="dload.php?action=file&amp;id={ID}" class="genmed">{L_NOT_AGREE}</a></b></span></td>
  </tr>
</table>
