{LOCBAR}
<table width="100%" cellpadding="2" cellspacing="1" border="0" class="forumline">
  <tr>
	<th class="thCornerL" width="5%">&nbsp;</th>
	<th class="thTop">{L_CATEGORY}</th>
	<th class="thCornerR" width="8%">{L_FILES}</th>
  </tr>
<!-- BEGIN no_cat_parent -->
<tr>
	<td class="row1" valign="middle" align="center"><a href="{no_cat_parent.U_CAT}" class="cattitle">{no_cat_parent.CAT_IMAGE}</a></td>
	<td class="row1" valign="middle"><a href="{no_cat_parent.U_CAT}" class="cattitle">{no_cat_parent.CAT_NAME}</a><br /><span class="genmed">{no_cat_parent.CAT_DESC}</span></td>
	<td class="row2" align="center" valign="middle"><span class="genmed">{no_cat_parent.FILECAT}</span></td>
  </tr>
<!-- END no_cat_parent -->
<!-- BEGIN viewall -->
  <tr> 
	<td class="row1" valign="middle" align="center"><a href="{U_VIEW_ALL}" class="forumlink">{VIEW_ALL_IMAGE}</a></td>
	<td class="row1" valign="middle"><a href="{U_VIEW_ALL}" class="forumlink">{L_VIEW_ALL}</a><br /><span class="genmed">{L_VA_INFO}</span></td>
	<td class="row2" align="center" valign="middle"><span class="genmed">{FILEDB}</span></td>
  </tr>
<!-- END viewall -->
  <tr> 
	<td class="cat" colspan="3">&nbsp;</td>
  </tr>
</table>
