  <form action="{S_SEARCH_ACTION}" method="post"> 
{LOCBAR}

<table width="100%" cellpadding="3" cellspacing="1" class="forumline">
  <tr> 
	<th class="thHead" colspan="2">{L_SEARCH}</th>
  </tr>
  <tr>
	<td class="row1" width="50%" align="right"><span class="genmed">{L_SEARCH_FOR}:&nbsp; </span></td>
	<td class="row2"><input class="post" type="text" name="string" size="50"></td>
  </tr>
  <tr> 
	<td class="catBottom" align="center" colspan="2"><input type="hidden" name="action" value="search"><input type="hidden" name="search" value="do"><input class="liteoption" type="submit" value="{L_SEARCH}"></td>
  </tr>
</form>
</table>
