{LOCBAR}
<!-- BEGIN dlshow2 -->
<table width="100%" cellpadding="3" cellspacing="1" class="forumline">
  <tr> 
	<th class="thHead">{TITLE}</th>
  </tr>
<!-- END dlshow2 -->  
<!-- BEGIN dlrow -->  
  <tr>
	<td class="row1"><span class="genmed"><b>{dlrow.NUMBER}.</b> <a href="{dlrow.FILELINK}">{dlrow.FILENAME} ({dlrow.INFO})</a></span></td>
  </tr>
<!-- END dlrow -->
<!-- BEGIN dlshow2 -->  
  <tr> 
	<td class="catBottom">&nbsp;</td>
  </tr>
</table>
<!-- END dlshow2 -->


<!-- BEGIN dlshow -->  
<table width="100%" cellpadding="3" cellspacing="1" class="forumline">
  <tr> 
	<th class="thHead">{TITLE}</th>
  </tr>
  <tr>
	<td class="row1"><span class="genmed"><a href="{LINK1}">{NAME1}</a></span></td>
  </tr>
  <tr>
	<td class="row1"><span class="genmed"><a href="{LINK2}">{NAME2}</a></span></td>
  </tr>
  <tr>
	<td class="row1"><span class="genmed"><a href="{LINK3}">{NAME3}</a></span></td>
  </tr>    
  <tr> 
	<td class="catBottom">&nbsp;</td>
  </tr>
</table>
<!-- END dlshow --> 
