 
<table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
  <tr> 
	<th height="25" class="thHead" colspan="2">{L_PREVIEW}</th>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed">{L_FROM}:</span></td>
	<td width="100%" class="row2"><span class="genmed"><a href="{MESSAGE_FROM_URL}" class="name"{MESSAGE_FROM_STYLE}>{MESSAGE_FROM}</a></span></td>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed">{L_TO}:</span></td>
	<td width="100%" class="row2"><span class="genmed"><a href="{MESSAGE_TO_URL}" class="name"{MESSAGE_TO_STYLE}>{MESSAGE_TO}</a></span></td>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed">{L_POSTED}:</span></td>
	<td width="100%" class="row2"><span class="genmed">{POST_DATE}</span></td>
  </tr>
  <tr> 
	<td class="row2"><span class="genmed">{L_SUBJECT}:</span></td>
	<td width="100%" class="row2"><span class="genmed">{POST_SUBJECT}</span></td>
  </tr>
  <tr> 
	<td valign="top" colspan="2" class="row1"><span class="postbody">{MESSAGE}</span>
	<!-- BEGIN postrow -->
	{ATTACHMENTS}
	<!-- END postrow -->
	</td>
  </tr>
</table>

<br clear="all" />
