<div align="center"><span class="copyright"><br />Strumień dla młodszych i starszych: <a href="http://cout.pl" target="_blank">cout.pl</a> 2014</span></div>
		</td>
	</tr>
</table>
</body>
</html>
