<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" valign="middle" class="nav" width="100%"><span class="nav" style="color: #FF6600;"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{NAV_CAT_DESC}</span></td>
	</tr>
</table>
{BOARD_INDEX}
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="left" valign="bottom" width="90"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" /></a>&nbsp;&nbsp;</td>
		<td align="right" valign="bottom" nowrap="nowrap"><span class="gensmall"><b>{PAGINATION}</b></span></td>
	</tr>
</table>


<!-- BEGIN switch_show_hide -->
<div id="imp_topics_{FORUM_ID}" style="display: ''; position: relative;">
<!-- END switch_show_hide -->
<table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
	<tr>
		<th colspan="{SPAN_I}" align="center" height="25" class="thCornerL" nowrap="nowrap"<!-- BEGIN switch_show_hide --> onclick="javascript:ShowHide('imp_topics_{FORUM_ID}','imp_topics2_{FORUM_ID}','imp_topics3_{FORUM_ID}');" style="cursor: pointer" title="{L_VHIDE}"<!-- END switch_show_hide -->>&nbsp;{L_TOPICS}&nbsp;</th>
	
	</tr>
	<!-- BEGIN important_topics -->
	<tr>
		<td class="catHead" colspan="{SPAN_J}"><span class="nav">&bull; {L_IMPORTANT_TOPICS}</span></td>
	</tr>
	<!-- END important_topics -->
	<!-- BEGIN topicrow -->
	<!-- BEGIN normal_topics_row -->
	<tr>
		<td class="catHead" colspan="{SPAN_J}"><span class="nav">&bull; {L_TOPICS}</span></td>
	</tr>
	<!-- END normal_topics_row -->
	<!-- BEGIN normal_topics -->
</table>
<br />
</div>
<div id="imp_topics2_{FORUM_ID}" style="display: none; position: relative;">
<table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
	<tr>
		<th align="center" height="25" class="thCornerL" nowrap="nowrap" onclick="javascript:ShowHide('imp_topics_{FORUM_ID}','imp_topics2_{FORUM_ID}','imp_topics3_{FORUM_ID}');" style="cursor: pointer">&nbsp;{L_TOPICS}&nbsp;</th>
	</tr>
</table>
<br />
</div>
<script language="javascript" type="text/javascript">
<!--
if(GetCookie('imp_topics3_{FORUM_ID}') == '2') ShowHide('imp_topics_{FORUM_ID}', 'imp_topics2_{FORUM_ID}', 'imp_topics3_{FORUM_ID}');
//-->
</script>

<table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
	<tr>
		<th colspan="{SPAN_I}" align="center" class="thCornerL" style="height: 24px;" nowrap="nowrap">&nbsp;{L_NORMAL_TOPICS}&nbsp;</th>

		
	</tr>
	<!-- END normal_topics -->
	<tr>
		
		<td style="cursor: pointer" onclick="javascritp:window.location.href = '{topicrow.ENTER_TOPIC}'" class="{topicrow.ROW}" width="100%" {ONMOUSE_COLORS}><span class="topictitle">{topicrow.NEWEST_POST_IMG}{topicrow.TOPIC_ATTACHMENT_IMG}{topicrow.TOPIC_TYPE}
		<a href="{topicrow.U_VIEW_TOPIC}" class="topictitle"{topicrow.TOPIC_COLOR}
		<!-- BEGIN title_overlib -->
		 onMouseOver="return overlib('<left>{topicrow.title_overlib.UNREAD_POSTS}<fieldset><legend><b>{topicrow.title_overlib.L_FIRST_POST}</b></legend>{topicrow.title_overlib.O_TEXT1}</fieldset><!-- BEGIN last --><fieldset><legend><b>{topicrow.title_overlib.L_LAST_POST}</b></legend>{topicrow.title_overlib.last.O_TEXT2}</fieldset><!-- END last --></left>', ol_width=400, ol_offsetx=10, ol_offsety=10, CAPTION, '<center>{topicrow.title_overlib.O_TITLE}</center>')" onMouseOut="nd();"<!-- END title_overlib -->>{topicrow.TOPIC_TITLE}</a></span><span class="gensmall">{topicrow.TOPIC_TITLE_E}<!-- BEGIN style -->{topicrow.style.TOPIC_STYLE}<!-- END style --></span><span class="gensmall">{topicrow.TOPIC_EXPIRE}</span><span class="gensmall"><br />{topicrow.GOTO_PAGE}</span></td>
		
		
		<td class="row1" {ONMOUSE_COLORS}align="center" valign="middle" nowrap="nowrap"><span class="postdetails">{topicrow.LAST_POST_TIME}<br />{topicrow.LAST_POST_AUTHOR} {topicrow.LAST_POST_IMG}</span></td>
	</tr>
	<!-- END topicrow -->

	<!-- BEGIN switch_no_topics -->
	<tr>
		<td class="row1" colspan="{SPAN_J}" height="30" align="center" valign="middle"><span class="gen">{L_NO_TOPICS}</span></td>
	</tr>
	<!-- END switch_no_topics -->

	

</table>


<table border="0" cellpadding="4" cellspacing="1" width="100%" class="forumline">
	<tr>
		<td class="catBottom" align="center" valign="middle" height="28"><form method="post" action="{S_POST_DAYS_ACTION}"><span class="genmed">{L_DISPLAY_TOPICS}:&nbsp;{S_SELECT_TOPIC_DAYS}&nbsp;<input type="submit" class="liteoption" value="{L_GO}" name="submit"/></span></form></td>
	</tr>
</table>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr>
		<td align="left" valign="middle"><span class="nav" style="color: #FF6600;"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{NAV_CAT_DESC}</span></td>
		<td align="right" valign="middle" nowrap="nowrap"><span class="nav">{PAGE_NUMBER}&nbsp;&nbsp;{PAGINATION}</span></td>
	</tr>
	<tr>
		<td align="left" valign="middle"><a href="{U_POST_NEW_TOPIC}"><img src="{POST_IMG}" border="0" alt="{L_POST_NEW_TOPIC}" /></a></td>
		<td align="right" nowrap="nowrap">&nbsp;
		<!-- BEGIN switch_search_for -->
		<form method="post" action="{SEARCH_ACTION}"><input type="hidden" name="search_where" value="f{FORUM_ID}"><input type="hidden" name="show_results" value="topics"><input type="hidden" name="search_terms" value="any"><input type="hidden" name="search_fields" value="all"><span class="gensmall">{L_SEARCH_FOR}:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br /></span><input class="post" onFocus="Active(this)" onBlur="NotActive(this)" type="text" name="search_keywords" value="" size="20" maxlength="150" />&nbsp;<input type="submit" name="submit" value="{L_GO}" class="liteoption" /></form>
		<!-- END switch_search_for -->
		</td>
	</tr>
</table>

<table width="100%" cellspacing="2" border="0" align="center" cellpadding="2">
	<tr>
		<td align="right">{JUMPBOX}</td>
	</tr>
</table>

<table width="100%" cellspacing="0" border="0" cellpadding="0">
</table>
