<table width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
   <tr>
      <td align="left" valign="bottom"><span class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a>{NAV_CAT_DESC}</span></td>
   </tr>
</table>

<table width="100%" cellpadding="5" cellspacing="1" border="0" class="forumline">
	<tr>
		<th colspan="3" height="28" align="center">{L_POPULARITY}</th>
	</tr>
	<tr>
		<td class="catHead" align="center"><span class="cattitle">Link</span></td>
		<td class="catHead" align="center"><span class="cattitle">{L_VISIT}</span></td>
		<td class="catHead" align="center"><span class="cattitle">{L_PER_DAY}</span></td>
	</tr>
	<!-- BEGIN list -->
	<tr>
		<td class="row1" align="center"><span class="nav">{list.NAME}</span></td>
		<td class="row1" align="center"><span class="nav">{list.CLICKS}</span><br /><span class="gensmall">{L_FROM}: {list.FROM}</td>
		<td class="row1" align="center"><span class="nav">{list.PER_DAY}</span></td>
	</tr>
	<!-- END list -->
	<tr>
		<td class="catBottom" colspan="3">&nbsp;</td>
</table>
