<form method="get" name="jumpbox" action="{S_JUMPBOX_ACTION}" onSubmit="if(document.jumpbox.f.value == -1){return false;}">
<table cellspacing="0" cellpadding="0" border="0">
	<tr>
	     <td nowrap><span class="gensmall">{L_JUMP_TO}:&nbsp;</span>{S_JUMPBOX_SELECT}&nbsp;<input type="submit" value="{L_GO}" class="liteoption" /></td>
	</tr>
</table>
</form>