{LOCBAR}

<table width="100%" cellpadding="3" cellspacing="1" class="forumline">
  <tr> 
	<th class="thHead">{L_STATISTICS}</th>
  </tr>
  <tr>
	<td class="row1"><span class="genmed">{STATS_TEXT}</span></td>
  </tr>
  <tr> 
	<td class="cat" height="28">&nbsp;</td>
  </tr>
</table>
