 
<form action="{S_FORM_ACTION}" method="post">

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
  <tr> 
	<td align="left" class="nav"><a href="{U_INDEX}" class="nav">{L_INDEX}</a></td>
  </tr>
</table>

<table width="100%" cellpadding="4" cellspacing="1" border="0" class="forumline" align="center">
  <tr> 
	<th colspan="2" height="25" class="thHead" nowrap="nowrap">{L_ENTER_PASSWORD}</th>
  </tr>
  <tr>
	<td width="50%" class="row1" align="right"><span class="gen">{L_PASSWORD}:</span></td>
	<td width="50%" class="row1"> 
	  <input type="password" class="post" name="password" size="30" maxlength="20" />
	</td>
  </tr>
  <tr> 
	<td colspan="2" align="center" class="catBottom" height="28">{S_HIDDEN_FIELDS}<input type="submit" name="submit" class="mainoption" value="{L_SUBMIT}" />&nbsp;&nbsp;<input type="submit" name="cancel" class="mainoption" value="{L_CANCEL}" /></td>
  </tr>
</table>

</form>
