{SITE_DESCRIPTION} | 
{CURRENT_TIME} | 
<!-- BEGIN switch_user_logged_in -->
Jestes zalogowany, <a href="{U_LOGIN_LOGOUT}" class="mainmenu"><img src="templates/Silueta/images/icon_mini_login.gif" width="12" height="13" border="0" alt="{L_LOGIN_LOGOUT}" hspace="3" />{L_LOGIN_LOGOUT}</a>
<!-- END switch_user_logged_in -->

<!-- BEGIN switch_user_logged_out -->
Jestes nie zalogowany, <a href="{U_LOGIN_LOGOUT}" class="mainmenu"><img src="templates/Silueta/images/icon_mini_login.gif" width="12" height="13" border="0" alt="{L_LOGIN_LOGOUT}" hspace="3" />{L_LOGIN_LOGOUT}</a>
<!-- END switch_user_logged_out -->
<br />
<br />
Możesz używać stylów (CSS) ze stylu
<br />
<br />
<object>
   <center>
      <h3>
         Testowy nagłówek portalu
      </h3>
   </center>
</object>
<br />
