<!-- DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" -->
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="{S_CONTENT_DIRECTION}">
<head>
<script language="Javascript" type="text/javascript">
<!--
var factive_color = '{T_ACTIVE_COLOR}';
var faonmouse_color = '{T_ONMOUSE_COLOR}';
var faonmouse2_color = '{T_ONMOUSE2_COLOR}';
var l_empty_message = '{L_EMPTY_MESSAGE}';
var no_text_selected = '{L_NO_TEXT_SELECTED}';
var faonmouse_color = '{T_ONMOUSE_COLOR}';
var faonmouse2_color = '{T_ONMOUSE2_COLOR}';
function show_s_div()
{
	return;
}
//-->
</script>
<script language="JavaScript" type="text/javascript" src="images/jsscripts.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
{META}
<title>{SITENAME} :: {PAGE_TITLE}</title>
<link rel="stylesheet" href="templates/Silueta/{T_HEAD_STYLESHEET}" type="text/css">
</head>

<body bgcolor="{T_BODY_BGCOLOR}" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">
<span class="gen"><a name="top"></a></span>
