<!-- BEGIN xs_file_version -->
/***************************************************************************
 *                                index.tpl
 *                                ---------
 *   copyright            : (C) 2003 - 2005 CyberAlien
 *   support              : http://www.phpbbstyles.com
 *
 *   version              : 2.2.0
 *
 *   file revision        : 55
 *   project revision     : 66
 *   last modified        : 09 Mar 2005  14:49:49
 *
 ***************************************************************************/
<!-- END xs_file_version -->

<h1>{L_XS_TITLE}</h1>
<p>{L_XS_MAIN_COMMENT1}</p>

<table cellpadding="4" cellspacing="1" border="0" align="center" class="forumline">
	<tr>
		<th class="thHead" colspan="2">{L_XS_MAIN_TITLE}</th>
	</tr>
	<tr>
		<td class="row1">{L_XS_CONFIGURATION}:<br /><span class="gensmall">{L_XS_CONFIGURATION_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_CONFIG}">{L_XS_SET_CONFIGURATION_LC}</a>]</td>
	</tr>
	<tr>
		<th class="thHead" colspan="2">{L_XS_INSTALL_UNINSTALL_STYLES}</th>
	</tr>
	<tr>
		<td class="row1">{L_XS_INSTALL_STYLES}:<br /><span class="gensmall">{L_XS_INSTALL_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_INSTALL_STYLES}">{L_XS_INSTALL_STYLES_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_UNINSTALL_STYLES}:<br /><span class="gensmall">{L_XS_UNINSTALL_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_UNINSTALL_STYLES}">{L_XS_UNINSTALL_STYLES_LC}</a>]</td>
	</tr>
	<tr>
		<th class="thHead" colspan="2">{L_XS_MANAGE_STYLES}</th>
	</tr>
	<tr>
		<td class="row1">{L_XS_DEFAULT_STYLE}:<br /><span class="gensmall">{L_XS_DEFAULT_STYLE_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_DEFAULT_STYLE}">{L_XS_SET_DEFAULT_STYLE_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_MANAGE_CACHE}:<br /><span class="gensmall">{L_XS_MANAGE_CACHE_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_MANAGE_CACHE}">{L_XS_MANAGE_CACHE_LC}</a>]</td>
	</tr>
	<tr>
		<th class="thHead" colspan="2">{L_XS_IMPORT_EXPORT_STYLES}</th>
	</tr>
	<tr>
		<td class="explain" colspan="2">{L_XS_MAIN_COMMENT2}</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_IMPORT_STYLES}:<br /><span class="gensmall">{L_XS_IMPORT_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_IMPORT_STYLES}">{L_XS_IMPORT_STYLES_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_EXPORT_STYLES}:<br /><span class="gensmall">{L_XS_EXPORT_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_EXPORT_STYLES}">{L_XS_EXPORT_STYLES_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_CLONE_STYLES}:<br /><span class="gensmall">{L_XS_CLONE_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_CLONE_STYLE}">{L_XS_CLONE_STYLES_LC}</a>]</td>
	</tr>
<!--	<tr>
		<td class="row1">{L_XS_DOWNLOAD_STYLES}:<br /><span class="gensmall">{L_XS_DOWNLOAD_STYLES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_DOWNLOAD_STYLES}">{L_XS_DOWNLOAD_STYLES_LC}</a>]</td>
	</tr> -->
	<tr>
		<th class="thHead" colspan="2">{L_XS_EDIT_TEMPLATES}</th>
	</tr>
	<tr>
		<td class="row1">{L_XS_EDIT_TEMPLATES}:<br /><span class="gensmall">{L_XS_EDIT_TEMPLATES_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_EDIT_STYLES}">{L_XS_EDIT_TEMPLATES_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_EDIT_STYLES_DATA}:<br /><span class="gensmall">{L_XS_EDIT_STYLES_DATA_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_EDIT_STYLES_DATA}">{L_XS_EDIT_STYLES_DATA_LC}</a>]</td>
	</tr>
	<tr>
		<td class="row1">{L_XS_EXPORT_STYLES_DATA}:<br /><span class="gensmall">{L_XS_EXPORT_STYLES_DATA_EXPLAIN}</span></td>
		<td class="row2" align="center">[<a href="{U_EXPORT_DATA}">{L_XS_EXPORT_STYLES_DATA_LC}</a>]</td>
	</tr>
</table>

<br clear="all" />

