<!-- BEGIN xs_file_version -->
/***************************************************************************
 *                              xs_header.tpl
 *                              -------------
 *   copyright            : (C) 2003 - 2005 CyberAlien
 *   support              : http://www.phpbbstyles.com
 *
 *   version              : 2.2.0
 *
 *   file revision        : 55
 *   project revision     : 66
 *   last modified        : 09 Mar 2005  14:49:49
 *
 ***************************************************************************/
<!-- END xs_file_version -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}" />
<link rel="stylesheet" href="{XS_PATH}style.css" type="text/css">
<style>
<!--
body { background-color: #E5E5E5; background-image: url('{XS_PATH}images/top_bg2.gif'); background-position: top left; background-repeat: repeat-x; margin-top: 5px; margin-bottom: 5px; margin-left: 2px; margin-right: 2px; }
-->
</style>
</head>
<body>
<table width="100%" height="100%" cellspacing="0" cellpadding="2" class="bodyline">
<tr>
	<td align="left" valign="top" style="padding: 5px;">
<table width="100%" cellspacing="0" cellpadding="3" class="navbar">
<tr>
	<td align="left" nowrap="nowrap">
		<!-- BEGIN nav_left -->
		{nav_left.ITEM}
		<!-- END nav_left -->
	</td>
	<td align="right" nowrap="nowrap">
		<!-- BEGIN nav_right -->
		{nav_right.ITEM}
		<!-- END nav_right -->
	</td>
</tr>
</table>
<br />
