
<h1>{L_CONTROL_PANEL_TITLE}</h1>

<p>{L_CONTROL_PANEL_EXPLAIN}</p>

<form method="post" action="{S_MODE_ACTION}">
  <table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr> 
	  <td align="right" nowrap="nowrap"><span class="genmed">{L_VIEW}:&nbsp;{S_VIEW_SELECT}&nbsp;&nbsp; 
		<input type="submit" name="submit" value="{L_SUBMIT}" class="liteoption" />
		</span></td>
	</tr>
  </table>

<table class="forumline" width="100%" cellpadding="4" cellspacing="1" border="0">
	<tr> 
		<th class="thHead" colspan="4" height="25">{L_ATTACH_SEARCH_QUERY}</th>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_FILENAME}:</span><br /><span class="gensmall">{L_WILDCARD_EXPLAIN}</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 200px" class="post" name="search_keyword_fname" size="20" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_COMMENT}:</span><br /><span class="gensmall">{L_WILDCARD_EXPLAIN}</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 200px" class="post" name="search_keyword_comment" size="20" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_SEARCH_AUTHOR}:</span><br /><span class="gensmall">{L_WILDCARD_EXPLAIN}</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 200px" class="post" name="search_author" size="20" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_SIZE_SMALLER_THAN}:</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 100px" class="post" name="search_size_smaller" size="10" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_SIZE_GREATER_THAN}:</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 100px" class="post" name="search_size_greater" size="10" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_COUNT_SMALLER_THAN}:</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 100px" class="post" name="search_count_smaller" size="10" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_COUNT_GREATER_THAN}:</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 100px" class="post" name="search_count_greater" size="10" /></span></td>
	</tr>
	<tr> 
		<td class="row1" colspan="2"><span class="gen">{L_MORE_DAYS_OLD}:</span></td>
		<td class="row2" colspan="2" valign="middle"><span class="genmed"><input type="text" style="width: 100px" class="post" name="search_days_greater" size="10" /></span></td>
	</tr>
 	<tr> 
		<th class="thHead" colspan="4" height="25">{L_SEARCH_OPTIONS}</th>
	</tr>
	<tr> 
		<td class="row1" colspan="2" align="right"><span class="gen">{L_FORUM}:</span></td>
		<td class="row2" colspan="2" valign="middle"><select class="post" name="search_forum">{S_FORUM_OPTIONS}</select></span></td>
	</tr>
	<tr>
		<td class="row1" colspan="2" align="right"><span class="gen">{L_SORT_BY}:&nbsp;</span></td>
		<td class="row2" colspan="2" valign="middle">{S_SORT_OPTIONS}</span></td>
	<tr>
		<td class="row1" colspan="2" align="right"><span class="gen">{L_ORDER}:&nbsp;</span></td>
		<td class="row2" colspan="2" valign="middle">{S_SORT_ORDER}</span></td>
	</tr>
	<tr> 
		<td class="catBottom" colspan="4" align="center" height="28">{S_HIDDEN_FIELDS}<input class="liteoption" type="submit" name="search" value="{L_SEARCH}" /></td>
	</tr>
</table>

</form>

<br />
<div align="center"><span class="copyright">{ATTACH_VERSION}</span></div>
<br />