/***************************************************************************
 *                               style.css
 *                               ---------
 *   copyright            : (C) 2003 - 2005 CyberAlien
 *   support              : http://www.phpbbstyles.com
 *
 *   version              : 2.2.0
 *
 *   file revision        : 55
 *   project revision     : 66
 *   last modified        : 09 Mar 2005  14:49:49
 *
 ***************************************************************************/

body { 
	background-color: #E5E5E5;
	margin: 0px; 
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
}

/* General font families for common tags */
font, th, td, p, div { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
a:link,a:active,a:visited { color: #005784; text-decoration: none; }
a:hover		{ text-decoration: underline; color: #D46400; }
hr	{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}

ul { list-style-image: url('images/dot.gif'); margin-left: 20px; margin-bottom: 0px; margin-top: 0px; }
h1 { margin-top: 0px; }

label:hover { color: #D46400; }

/* This is the border line & background colour round the entire page */
table.bodyline { background-color: #F4F4F4; border: 1px #98AAB1 solid; }

/* This is the outline round the main forum tables */
table.forumline	{ background-color: #FFF; border: 2px #98AAB1 solid; }
td.forumline	{ background-color: #F8F8F8; border: 2px #98AAB1 solid; }

img.screenshot { border: 2px #006699 solid; padding: 1px; background-color: #F8F8F8; }
img.screenshot { border: 2px #015884 solid; padding: 1px; background-color: #F8F8F8; }

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #F0F0F0; }
td.row2	{ background-color: #E4E9ED; }
td.row3	{ background-color: #D8DFE3; } 


table.navbar { border: solid 1px #98AAB1; background-color: #DFE3E6; background-image: url('images/cellpic4.gif'); background-repeat: repeat-x; height: 22px; }
table.navbar td { color: #FFA34F; font-size: 11px; font-weight: bold; padding-left: 5px; }
table.navbar td a, table.navbar td a:visited { color: #3385AD; text-decoration: underline; }
table.navbar td a:hover, table.navbar td a:active { color: #FFA34F; text-decoration: underline; }
table.navbar td.nav_invert { color: #3385AD; font-size: 11px; font-weight: bold; padding-left: 5px; }
table.navbar td.nav_invert a, table.navbar td.nav_invert a:visited { color: #FFA34F; text-decoration: none; }
table.navbar td.nav_invert a:hover, table.navbar td.nav_invert a:active { color: #3385AD; text-decoration: underline; }

.bottomnav { color: #444; font-size: 11px; font-weight: bold; }
.bottomnav a, .bottomnav a:visited { color: #3385AD; text-decoration: none; }
.bottomnav a:hover, .bottomnav a:active { color: #FFA34F; text-decoration: underline; }

/* highlight text */
.ast { color: #DD6900; font-weight: bold; }

/* Header cells - the blue and silver gradient backgrounds */
th	{
	color: #C8DCE6; font-size: 11px; font-weight: bold;
	background-color: #328BB8; 
	background-image: url('images/cellpic3.gif');
	background-repeat: repeat-x;
	height: 28px;
}

td.explain {
			background-color: #E7ECF0; 
			background-image: url('images/cellpic1.gif');
			background-repeat: repeat-x;
			font-size: 10px;
			color: #015884;
			border: 0px #FFF solid;
}

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
			background-image: url('images/cellpic1.gif'); background-color: #BFC8CE; background-repeat: repeat-x; border: 0px #FFFFFF solid; height: 28px;
}

td.cat,td.catHead,td.catBottom {
	height: 29px;
	border-width: 0px 0px 0px 0px;
}


/*
  Setting additional nice inner borders for the main table cells.
  The names indicate which sides the border will be on.
  Don't worry if you don't understand this, just ignore it :-)
*/
th.thHead,th.thSides,th.thTop,th.thLeft,th.thRight,th.thBottom,th.thCornerL,th.thCornerR {
	font-weight: bold; border: 0px #FFFFFF solid; height: 28px; }

th.thHead,td.catHead { font-size: 12px; }
/*th.thHead,td.catHead { border-width: 1px 1px 0px 1px; }
th.thSides,td.catSides,td.spaceRow,td.explain  { border-width: 0px 1px 0px 1px; }
th.thRight,td.catRight,td.row3Right	 { border-width: 0px 1px 0px 0px; }
th.thLeft,td.catLeft	  { border-width: 0px 0px 0px 1px; }
th.thBottom,td.catBottom  { border-width: 0px 1px 1px 1px; }
th.thTop	 { border-width: 1px 0px 0px 0px; }
th.thCornerL { border-width: 1px 0px 0px 1px; }
th.thCornerR { border-width: 1px 1px 0px 0px; }*/


/* The largest text used in the index page title and toptic title etc. */
.maintitle,h1,h2	{
			font-weight: bold; font-size: 20px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
			text-decoration: none; line-height : 120%; color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #000000; }
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #DD6900; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }


/* Used for the navigation text, (Page 1,2,3 etc) and the navigation bar when in a forum */
.nav			{ font-weight: bold; font-size: 11px; color : #000000;}
a.nav			{ text-decoration: none; color : #006699; }
a.nav:hover		{ text-decoration: underline; }


/* titles for the topics: could specify viewed link colour too */
.topictitle			{ font-weight: bold; font-size: 11px; color : #000000; }
a.topictitle:link   { text-decoration: none; color : #006699; }
a.topictitle:visited { text-decoration: none; color : #5493B4; }
a.topictitle:hover	{ text-decoration: underline; color : #DD6900; }


/* Name of poster in viewmsg.php and viewtopic.php and other places */
.name			{ font-size : 11px; color : #000000;}

/* Location, number of posts, post date etc */
.postdetails		{ font-size : 10px; color : #000000; }


/* The content of the posts (body of text) */
.postbody { font-size : 12px;}
a.postlink:link	{ text-decoration: none; color : #006699 }
a.postlink:visited { text-decoration: none; color : #5493B4; }
a.postlink:hover { text-decoration: underline; color : #DD6900}


/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif; font-size: 11px; color: #006600;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #444444; line-height: 125%;
	background-color: #FAFAFA; border: #D1D7DC; border-style: solid;
	border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}


/* Copyright and bottom info */
.copyright { font-size: 10px; font-family: Verdana, Arial, Helvetica, sans-serif; color: #444444; letter-spacing: -1px;}
.copyright a { color: #006699; text-decoration: none;}
.copyright a:hover { color: #000000; text-decoration: underline;}


/* Form elements */
input,textarea, select {
	color : #000000;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

/* The text input fields background colour */
input.post, textarea.post, select {
	background-color: #FFFFFF;
	color: #000;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
input.button {
	background-color : #EFEFEF;
	color : #000000;
	font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* The main submit button option */
input.mainoption {
	font-weight : bold;
}

/* None-bold submit button */
input.liteoption {
	font-weight : normal;
}

input.mainoption, input.liteoption {
	height: 18px;
	font-size: 11px;
	color: #000;
	padding: 0 5px;
	margin: 0 5px;
	border: solid 1px #000;
	background: #F0F0F0 url('images/button.gif') repeat-x top left;
}

input.mainoption:hover, input.liteoption:hover {
	color: #FFA34F;
	background: #F0F0F0 url('images/button.gif') repeat-x bottom left;
}

/* This is the line in the posting page which shows the rollover
  help line. This is actually a text box, but if set to be the same
  colour as the background no one will know ;)
*/
.helpline { background-color: #DEE3E7; border: solid 0px #FFF; }

/* Import the fancy styles for IE only (NS4.x doesn't use the @import function) */
@import url("formIE.css");

