<a name="top"></a>

<h1>{L_PAGE_TITLE}</h1>

<p>{L_PAGE_DESC}</p>
<br />
<form name="post" method="post" action="{S_RESYNC_ACTION}">

<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thHead" align="center">{L_USER_SELECT}</th>
	</tr>
	<tr>
		<td class="row1" align="center"><input type="text" class="post" name="username" maxlength="50" size="20" /> <input type="submit" name="usersubmit" value="{L_USER_FIND}" class="liteoption" onClick="window.open('{S_FIND_USERNAME}', '_phpbbsearch', 'HEIGHT=250,resizable=yes,WIDTH=400');return false;" /></td>
	</tr>
	<tr>
		<td class="row2" align="center">{L_CHECK_ALL} <input type="checkbox" name="resync_all" value="1" /></td>
	</tr>
</table>
<br /><br />
<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
	  <th class="thCornerL">{L_FORUM}</th>
	  <th class="thCornerR" width="100">{L_RESYNCQ}</th>
	</tr>
<!-- BEGIN forums -->
	<tr>
	  <td class="row{forums.ROW_CLASS}" align="center">{forums.FORUM_NAME}</td>
	  <td class="row{forums.ROW_CLASS}" align="center"><select name="forum_{forums.FORUM_ID}"><option value="1" selected="selected">{L_YES}</option><option value="0">{L_NO}</option></select></td>
	</tr>
<!-- END forums -->
<tr>
	  <td colspan="2" class="row1" align="center"> <span class="gensmall"><a href="{U_MODE_CHANGE}">{L_MODE_CHANGE}</a></span></td>
	</tr>
	<tr>
	  <td colspan="2" class="catBottom" align="center">
		<input type="submit" name="submit" value="{L_DO_RESYNC}" class="mainoption" />
		&nbsp;&nbsp;
		<input type="reset" value="{L_RESET}" class="liteoption" name="reset" />
	  </td>
	</tr>
  </table>
</form>
<br />