
<h1>{L_FORUM_PRUNE}</h1>

<p>{L_PRUNE_RESULT}</p>

<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		<th class="thCornerL">{L_FORUM}</th>
		<th class="thTop">{L_TOPICS_PRUNED}</th>
	</tr>
	<!-- BEGIN prune_results -->
	<tr>
		<td class="{prune_results.ROW_CLASS}" align="center">{prune_results.FORUM_NAME}</td>
		<td class="{prune_results.ROW_CLASS}" align="center">{prune_results.FORUM_TOPICS}</td>
	</tr>
	<!-- END prune_results -->
</table>

<br />
