
<h1>{L_FORUM_PRUNE}</h1>

<form method="post" action="{S_FORUMPRUNE_ACTION}"><table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
	<tr>
		
	  <th class="thHead" align="center">{L_SELECT_FORUM}</th>
	</tr>
	<tr>
		<td class="row1" align="center">{S_FORUMS_SELECT} &nbsp;<input type="submit" name="pruneset" value="{L_LOOK_UP}" class="mainoption">&nbsp;</td>
	</tr>
</table></form>
<br />