<h1>{L_ACCESS_TITLE}</h1>

<table width="100%" cellpadding="6" cellspacing="1" border="0" align="center" class="forumline">
<form method="post" action="{S_LIST_ACTION}">
<tr>
	<td width="50%" class="row1"><span class="gen">{CHANGE_LIST}</span></td><td width="50%" class="row2"><input type="text" name="list" value="{ID_LIST}">
</td>
</tr>
</tr>
<tr>
	<td class="row1" align="center"colspan="2"><input type="submit" class="mainoption" value="{SUBMIT}"></td>
</tr>
</form>
</table>
<br />
<br />

