<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="{S_CONTENT_DIRECTION}">
<head>
{META}
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}"  />
<link rel="stylesheet" href="../templates/Silueta/{T_HEAD_STYLESHEET}" type="text/css">
<style type="text/css">
<!--
p, td		{ font-size : 11; }
h1,h2		{ font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-size : 19px; font-weight : bold; text-decoration : none; line-height : 100%; color : #000000;}
-->
</style>
<script language="Javascript" type="text/javascript">
<!--
var factive_color = '{T_ACTIVE_COLOR}';
var faonmouse_color = '{T_ONMOUSE_COLOR}';
var faonmouse2_color = '{T_ONMOUSE2_COLOR}';
var cname = '{UNIQUE_COOKIE_NAME}';
var cpath = '{COOKIE_PATH}';
var cdomain = '{COOKIE_DOMAIN}';
var csecure = '{COOKIE_SECURE}';
//-->
</script>
<script language="JavaScript" type="text/javascript" src="../images/jsscripts.js"></script>
<title>{SITENAME} - {L_PHPBB_ADMIN}</title>
</head>
<body bgcolor="{T_BODY_BGCOLOR}" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}">

<a name="top"></a>

