<h1>{L_REBUILD_SEARCH}</h1>

<p>{L_REBUILD_SEARCH_EXPLAIN}</p>

<table cellspacing="1" cellpadding="4" border="0" align="center" class="forumline">
<form method="post" action="{S_REBUILD_SEARCH_ACTION}">
	<tr>
		<th class="thHead">{L_REBUILD_SEARCH}</th>
	</tr>
	<tr>
		<td class="row1" height="100" width="400" align="center"><font size="8"><b>{L_PERCENTAGE_COMPLETE}&nbsp;{PERCENT} %</b></font></td>
	</tr>
	<tr>
		<td class="row2"><input type="hidden" name="start" value="{START}"><input type="hidden" name="total_num_rows" value="{TOTAL_NUM_ROWS}">
		<div style="text-align: center;"><input class="mainoption" type="submit" name="submit" value="{L_NEXT}" /></div></td>
	</tr>
	</form>
</table>
<br />