
<h1>{L_STATS_MANAGE}</h1>

<table class="forumline" align="center" width="45%">
	<tr>
		<th class="thHead">{L_MESSAGES}</th>
	</tr>
	<tr>
		<td class="row3"><span class="gen">{MESSAGE}</td>
	</tr>
</table>

<br />

<table class="forumline" align="center" width="80%">
	<tr>
		<td class="row3" align="center"><span class="gen"><a href="{U_AUTO_SET}" class="gen">{L_AUTO_SET}</a></td>
	</tr>
</table>

<br />

<table class="forumline" width="100%" align="center" cellpadding="3" cellspacing="1">
	<tr>
		<th align="center">{L_NAME}</td>
		<th align="center">{L_DNAME}</td>
		<th align="center">{L_STATUS}</td>
		<th align="center">{L_UPDATE_TIME}</td>
		<th align="center">&nbsp;</td>
		<th align="center">&nbsp;</td>
	</tr>		
	<!-- BEGIN modulerow -->
	<tr>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.NAME}</td>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.DNAME}</td>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.U_STATE}</td>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.UPDATE_TIME}</td>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.U_MOVE_UP}<br>{modulerow.U_MOVE_DOWN}</td>
		<td class="{modulerow.ROW_CLASS}" align="center">{modulerow.U_EDIT}</td>
	</tr>
	<!-- END modulerow -->
</table>

<br><center><span class="copyright">{VERSION_INFO}<br>{INSTALL_INFO}</span></center>
<br />