<table border="0" cellpadding="3" cellspacing="1" class="forumline" align="center">
	<tr>
		<th class="thHead" align="center">{TITLE}</th>
	</tr>
	<tr>
		<td class="row2"><span class="gensmall">{EXPLANATION}</span></td>
	</tr>
	<tr>
		{ACTION}
	</tr>
	<!-- BEGIN topicrow -->
	{topicrow.MESSAGES}
	<!-- END topicrow -->
</table>
<br />